@media only screen and (max-width: 600px){

 /* COMMON STYLES */

    .common-wrap{
        margin-bottom: 60px;
    }

/* HEADER STYLES */
nav{
    /* flex-direction: column; */
}
nav > ul{
    /* display: none; */
    flex-direction: column;
}
.toggle-btn{
    display: block;
}
nav > ul li:not(:first-child){
    display: none;
}
nav li{
    margin: 0;
	margin-bottom: 34px;
    text-align: right;
}

.toggle-btn:hover nav > ul li{
    display: block;
    /* flex-direction: column; */
}


/* BANNER STYLES */

    .banner-content{
        padding: 32px 76px;
    }
    .banner-title{
        font-size: 22px;
    }
    .banner-story{
        font-size: 14px;
        padding: 12px 0 36px;
        line-height: 21px;
    } 
    .travel-options{
        padding: 12px 0;
    }
    .travel-options input,
    .travel-options select, 
    .travel-options button{
    width: 275px;
    }

/* POPULAR Tours */

.popular-tours{
    padding: 24px 0;
    flex-direction: column;
}
.popular-text{
    width: 100%;
    margin: 0;
    margin-bottom: 24px;
}
.popular-img{
    width: 100%;
}

/* DESTINATIONS */

.common-top-wrap{
    padding: 0;
}

.destination-image{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
}
.mald{
    grid-column: 1/span 1;
    grid-row: 1/span 1;
}
.indo{
    grid-column: 1/span 1;
    grid-row: 2/span 1;
}
.sril{
    grid-column: 1/span 1;
    grid-row: 3/span 1;
}
.nort{;
    grid-column: 1/span 1;
    grid-row: 4/span 1;
}
.kash{
    grid-column: 1/span 1;
    grid-row: 5/span 1;
}
.bang{
    grid-column: 1/span 1;
    grid-row: 6/span 1;
}
.band{
    grid-column: 1/span 1;
    grid-row: 7/span 1;
}
.destination-image a{
    height: 266px;
}
.destination-image img{
    /* height: 50%; */
}

/* WHY CHOOSE US */

.whyus-cotent-wrap{
    flex-direction: column;
}
.whyus-content{
    width: 100%;
}

/* BLOG */

.blog-wrap{
    flex-direction: column;
}
.blog-part{
    width: 100%;
}

/* NEWSLETTER */

.newsletter{
    flex-direction: column;
}
.form-wrap{
    width: 100%;
}
.discount{
    width: 100%;
    margin: 20px 0;
}

/* FOOTER */

footer{
    margin-top: 40px;
    padding: 32px 64px;
}
.social-icons{
    margin: 12px 0 30px;
}
.rights{
    margin-top: 20px;
}

}
