/*FONT links start by DWN*/

@font-face{
	font-family: Mulish-VariableFont_wght;
	src: url(../fonts/Mulish/Mulish-VariableFont_wght.ttf);
} 
@font-face{
	font-family: Inter-VariableFont_slnt,wght;
	src: url(../fonts/Inter/Inter-VariableFont_slnt,wght.ttf);
}


/* COMMON STYLES */

*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}
body{
	font-family: Mulish-VariableFont_wght;
	/* font-size: 16px; */
	font-weight: 400;
	color: #3A3A3A;
}
.common_btn{
    width: 174px;
    height: 52px;
    padding: 16px;
    color: #fff;
    background-color: #FF5400;
    border: none;
    border-radius: 8px;
}
.cmn-title{
    padding-bottom: 24px;
    font-size: 40px;
    font-weight: 800;
    color: #131318;
}
.cmn-text{
    /* font-family: Mulish; */
    margin-bottom: 28px;
    font-weight: 400;
    /* line-height: 26px; */
    color: rgba(19, 19, 24, 0.70);
}


/* HEADER STYLES */

.hide{display:none;}

header{
    width: 81%;
    /* padding: 87px; */
    /* text-align: center; */
    margin: 0 auto;
}
nav{
	display: flex;
	justify-content: space-between;
    padding: 63px 0;
	/* align-items: center; */
    text-align: center;
}
.nav-title{
	/* font-size: 1.5rem; */
	font-weight: 800;
	/* color: 131318; */
    text-transform: capitalize;
}
.nav-title a{
    color: #FF5400;
    font-weight: 800;
    text-transform: capitalize;
}
.nav-title span{
    color: #131318;
    font-weight: bolder;
    text-transform: capitalize;
}
nav > ul{
	display: flex;
}
nav li{
	margin-right: 34px;
	font-weight: 600;
	list-style: none;
}
nav li:last-child{
	margin: 0;
}
nav li a{
	text-decoration: none;
	color: #3A3A3A;
}

/* BANNER STYLES */
.banner{
    text-align: center;
    background-image: url(../images/banner.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /* background: rgba(255, 255, 255, 0.10); */
    /* background-color: 000; */
    /* padding: 106px 185px; */
    /* opacity: .5; */
    /* width: 100%; */
    /* height: 80vh; */
    /* position: relative; */
    /* background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%); */
    border-radius: 8px;
}
/* .banner .box{
	width: 100%;
	height: 100vh;
	opacity: 0.4;
	position: absolute;
	top: 0;
    bottom: 0;
	background-color: black;
} */
.banner-content{
    width: 100%;
    padding: 100px 150px;
    /* height: 80vh; */
    /* opacity: 1; */
    /* background-color: #000; */
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    color: #fff;
}
.banner-title{
    font-size: 64px;
    font-weight: 800;
}
.banner-story{
    padding: 30px 70px;
} 
.travel-options{
    /* border: 5px solid #fff; */
    /* padding: 24px; */
    background: rgba(255, 255, 255, 0.30);
    border-radius: 8px;
    /* background-color: #FFF; */
    /* opacity: 0.5; */
}
.travel-options input,
.travel-options select, 
.travel-options button{
    width: 174px;
    height: 52px;
    margin: 12px;
    padding: 16px;
    border-radius: 8px;
    border: 0;
    /* opacity: 1!important; */
    /* background-color: #fff; */
    /* z-index: 5; */
}
.travel-options input:focus,
.travel-options select:focus{
    outline: none;
    /* margin-left: 0; */
}
.travel-options select option{
    /* padding: 106px; */
}
.travel-options button i{
    margin-right: 16px;
}

main{
    width: 81%;
    margin: 0 auto;
    /* text-align: center; */
}

/* POPULAR Tours */

.popular-tours{
    padding: 100px 0;
    display: flex;
    align-items: center;
    /* text-align: center; */
}
.popular-text{
    width: 50%;
    margin-right: 100px;
}
.popular-img{
    width: 50%;
}
.popular-img img{
    width: 100%;
}
.popular-text ul{
    /* margin-bottom: 24px; */
    /* list-style: none; */
}
.popular-text li{
    margin: 20px;
    color: color: rgba(19, 19, 24, 0.70);
}