/*FONT links start by DWN*/

@font-face{
	font-family: Mulish-VariableFont_wght;
	src: url(../fonts/Mulish/Mulish-VariableFont_wght.ttf);
} 
@font-face{
	font-family: Inter-VariableFont_slnt,wght;
	src: url(../fonts/Inter/Inter-VariableFont_slnt,wght.ttf);
}


/* COMMON STYLES */

*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}
body{
	font-family: Mulish-VariableFont_wght;
	/* font-size: 16px; */
	font-weight: 400;
	color: #3A3A3A;
}
.common_btn{
    width: 174px;
    height: 52px;
    padding: 16px;
    color: #fff;
    background-color: #FF5400;
    border: none;
    border-radius: 8px;
}
.common-wrap{
    width: 100%;
    text-align: center;
    margin-bottom: 100px;
}
.common-top-wrap{
    padding: 0 210px;
}
.cmn-title{
    padding-bottom: 24px;
    font-size: 40px;
    font-weight: 800;
    color: #131318;
}
.cmn-text{
    /* font-family: Mulish; */
    margin-bottom: 28px;
    font-weight: 400;
    /* line-height: 26px; */
    color: rgba(19, 19, 24, 0.70);
}
.cmn-mini-title{
    font-size: 20px;
    font-weight: 800;
    color: #131318;
}
.cmn-mini-text{
    margin: 20px 0;
    font-weight: 400;
    color: #5A5A5D;
}


/* HEADER STYLES */

/* .hide{display:none;} */

header{
    width: 81%;
    /* padding: 87px; */
    /* text-align: center; */
    margin: 0 auto;
}
nav{
	display: flex;
	justify-content: space-between;
    padding: 63px 0;
	/* align-items: center; */
    text-align: center;
}
.logo-control{
	/* font-size: 1.5rem; */
	font-weight: 800;
	/* color: 131318; */
    text-transform: capitalize;
}
.logo-control a{
    font-size: 32px;
    font-weight: 800;
    color: #FF5400;
    text-transform: capitalize;
    text-decoration: none;
}
.logo-control span{
    color: #131318;
    font-weight: bolder;
    text-transform: capitalize;
}
nav > ul{
	display: flex;
}
nav li{
	margin-right: 34px;
	font-weight: 600;
	list-style: none;
}
nav li:last-child{
	margin: 0;
}
nav li a{
	text-decoration: none;
	color: #3A3A3A;
}
.toggle-btn{
    display: none;
}

/* BANNER STYLES */
.banner{
    text-align: center;
    background-image: url("../images/banner.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 8px;
}
.banner-content{
    width: 100%;
    padding: 100px 150px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    color: #fff;
}
.banner-title{
    font-size: 64px;
    font-weight: 800;
}
.banner-story{
    padding: 30px 70px;
} 
.travel-options{
    background: rgba(255, 255, 255, 0.30);
    border-radius: 8px;
}
.travel-options input,
.travel-options select, 
.travel-options button{
    width: 170px;
    height: 52px;
    margin: 12px;
    padding: 16px;
    border-radius: 8px;
    border: 0;
}
.travel-options input:focus,
.travel-options select:focus{
    outline: none;
}
.travel-options select option{}
.travel-options button i{
    margin-right: 16px;
}

main{
    width: 81%;
    margin: 0 auto;
}

/* POPULAR Tours */

.popular-tours{
    padding: 100px 0;
    display: flex;
    align-items: center;
}
.popular-text{
    width: 50%;
    margin-right: 100px;
}
.popular-img{
    width: 50%;
}
.popular-img img{
    width: 100%;
}
.popular-text ul{
    /* margin-bottom: 24px; */
    /* list-style: none; */
}
.popular-text li{
    margin: 20px;
    color: color: rgba(19, 19, 24, 0.70);
}

/* DESTINATIONS */

.destination-image{
    /* width: 100%; */
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 24px;
}
.destination-image a{
    text-decoration: none;
    position: relative;
}
.destination-image a > p{
    position: absolute;
    top: 42%;
    left: 35%;
    font-size: 28px;
    font-weight: 800;
    color: #fff;
    /* translate: 50%; */
}
.destination-image img{
    width: 100%;
    height: 100%;
}   
.mald{
    grid-column: 1/span 6;
    grid-row: 1/span 1;
}
.indo{
    grid-column: 7/span 6;
    grid-row: 1/span 1;
}
.sril{
    grid-column: 1/span 4;
    grid-row: 2/span 1;
}
.nort{
    grid-column: 5/span 5;
    grid-row: 2/span 1;
}
.kash{
    grid-column: 10/span 3;
    grid-row: 2/span 1;
}
.bang{
    grid-column: 1/span 5;
    grid-row: 3/span 1;
}
.band{
    grid-column: 6/span 7;
    grid-row: 3/span 1;
}

/* WHY CHOOSE US */

.whyus-cotent-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}
.whyus-content{
    width: 48%;
    padding: 22px;
    text-align: left;
    color: #5A5A5D;
    border-radius: 16px;
}
.whyus-content > div{
    width: 64px;
    height: 64px;
}
.whyus-content > div img{
    width: 100%;
}
.whyus-content h5{
    padding: 32px 0;
    font-size: 24px;
}

/* BLOG SECTION */

.blog-wrap{
    display: flex;
    gap: 20px;
}
.blog-part{
    width: 32%;
    box-shadow: 0 0 10px #ddd;
}
.blog-part img{
    width: 100%;
}
.blog-text-wrap{
    text-align: left;
    padding: 10px;
}
/* NEWSLETTER */

.newsletter{
    display: flex;
    justify-content: space-between;
}
.form-wrap{
    width: 43%;
    padding: 0 40px;
    border: 1px solid #FF5400;
    border-radius: 16px;
}
hr{
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
}
.form-wrap form input{
    width: 100%;
    margin: 18px 0 12px;
    padding: 16px 20px;
    border: none;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
}
.form-wrap form input:focus{
    outline: none;
}
.discount{
    width: 55%;
    position: relative;
}
.offer{
    /* width: 324px; */
    /* height: 120px; */
    padding: 14px;
    position: absolute;
    bottom: 28px;
    right: 6px;
    transform: rotate(-19.628deg);
    color: #fff;
    background-color: #FF5400;
    text-align: center;
    border-radius: 8px;
}
.offer p{
    font-size: 14px;
    font-weight: 400;
}
.offer h6{
    font-size: 20px;
    font-weight: 800;
}
.discount img{
    width: 100%;
    height: 100%;
}

/* FOOTER */

footer{
    margin-top: 100px;
    padding: 80px 335px;
    text-align: center;
    background-color:  rgba(19, 19, 24, 0.05);
    color: #5A5A5D;
}
footer p{
    padding: 20px 0;
    line-height: 26px;
}
.social-icons{
    margin: 20px 0 50px;
    list-style: none;
}
.social-icons li{
    display: inline-block;
    margin: 0 12px;
}
.social-icons li a{
    color: #131318;
}
.rights{
    margin-top: 50px;
    font-family: Inter-VariableFont_slnt,wght;
    font-weight: 300;
}